<html>

<head>
  <meta charset="utf-8">
  <title>Test</title>
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
</head>

<body>
  <div class="container">
    <fieldset>
      <form action="/" method="post">
        <input name="actor" type="text" class="ghost-input" placeholder="Actor/Actress" required>
        <input type="submit" class="ghost-button" value="Search">
      </form>

      <% if(showTitle !== null){ %>
        <p>
          <h3>Searched: <%= searchFor  %> </h3>
          <h4>Average Rating: <%= avg %>/5 </h4>
          <hr />
        </p>
        <ul>
          <% for(var i=0; i<showTitle.length; i++) { %>
            <li>
              <%= showTitle[i] %>
            </li>
            <% } %>
        </ul>
        <% } %>

    </fieldset>
  </div>
  <script type="text/javascript" src="script/controller.js"></script>
</body>

</html>
